.streamlit/secrets.toml
# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/

# Local scratch
archive/

# Custom Streamlit component artifacts
jupr_court_board/frontend/node_modules/
!jupr_court_board/frontend/build/
!jupr_court_board/frontend/build/**
